<aside class="col-sm-2 col-md-2 col-lg-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href=""></a></li>
  </ul>
  <ul class="nav nav-sidebar">

    <li class="active"><a href=" {% url 'backweb:article'%}">文章</a></li>
    <li><a href="{% url 'backweb:add_article'%} ">写文章</a></li>
    <li><a href="comment.html">栏目</a></li>
    <li><a data-toggle="tooltip" data-placement="top" title="网站暂无留言功能">留言</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="/backweb/category.html">栏目</a></li>
    <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
      <ul class="dropdown-menu" aria-labelledby="otherMenu">
        <li><a href="/backweb/flink.html">友情链接</a></li>
        <li><a href="/backweb/loginlog.html">访问记录</a></li>
      </ul>
    </li>
  </ul>

</aside>